In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in /opt/anaconda3/lib/python3.12/site-packages (0.2.66)
Requirement already satisfied: pandas>=1.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.32.3)
Requirement already satisfied: multitasking>=0.0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2024.2)
Requirement already satisfied: frozendict>=2.3.4 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (3.18.3)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: curl_cffi>=0.7 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in /opt/anaconda3/lib/python3.12/site-packages (from yfinance) (14.2)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl_cffi>=0.7->yfinance) (2025.1.31)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.3.0)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.21)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.16.0)

In [3]:
import yfinance as yf
import pandas as pd

symbol = "2222.SR"

data = yf.download(
    symbol,
    start="2019-01-01",
    interval="1d",
    auto_adjust=False,      # نحددها صراحة عشان يروح التحذير
    group_by="column"       # أهم سطر: يرجّع الأعمدة كـ Open/High/... بدون MultiIndex
)

# تحويل الـ index إلى عمود Date
data = data.reset_index()

# الآن الأعمدة لازم تكون بالشكل:
# Date, Open, High, Low, Close, Adj Close, Volume
print(data.columns)
data.head()

[*********************100%***********************]  1 of 1 completed

MultiIndex([(     'Date',        ''),
            ('Adj Close', '2222.SR'),
            (    'Close', '2222.SR'),
            (     'High', '2222.SR'),
            (      'Low', '2222.SR'),
            (     'Open', '2222.SR'),
            (   'Volume', '2222.SR')],
           names=['Price', 'Ticker'])

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,2222.SR,2222.SR,2222.SR,2222.SR,2222.SR,2222.SR
0,2019-12-11,22.352606,29.090908,29.090908,29.090908,29.090908,38289394
1,2019-12-12,23.368629,30.413223,31.983471,29.752066,31.983471,505692621
2,2019-12-15,23.749641,30.909090,30.991735,30.413223,30.661158,98349281
3,2019-12-16,24.130655,31.404959,31.487602,30.991735,30.991735,105973907
4,2019-12-17,23.971901,31.198347,31.528925,30.991735,31.446280,142672245

In [4]:
import pandas as pd

# تسطيح (تفليت) الأعمدة: نأخذ المستوى الأول فقط
data.columns = data.columns.get_level_values(0)

# تأكد إن الأسماء صارت عادية
print(data.columns)
data.head()

Index(['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume'], dtype='object', name='Price')

Price,Date,Adj Close,Close,High,Low,Open,Volume
0,2019-12-11,22.352606,29.090908,29.090908,29.090908,29.090908,38289394
1,2019-12-12,23.368629,30.413223,31.983471,29.752066,31.983471,505692621
2,2019-12-15,23.749641,30.909090,30.991735,30.413223,30.661158,98349281
3,2019-12-16,24.130655,31.404959,31.487602,30.991735,30.991735,105973907
4,2019-12-17,23.971901,31.198347,31.528925,30.991735,31.446280,142672245

In [10]:
data["Symbol"] = "2222.SR" 

data.to_csv("data/raw/2222.SR.csv", index=False)

In [14]:
import yfinance as yf
import pandas as pd

symbols = [
    "2010.SR",  # SABIC
    "1120.SR",  # Al Rajhi Bank
    "1180.SR",  # SNB
    "7010.SR",  # stc
    "1211.SR",  # Ma'aden
    "5110.SR",  # Saudi Electricity
    "2050.SR",  # Savola
    "4003.SR",  # Extra
    "1810.SR",  # Seera
]

for symbol in symbols:
    print("Downloading", symbol, "...")
    df = yf.download(
        symbol,
        start="2019-01-01",
        interval="1d",
        auto_adjust=False
    )
    df = df.reset_index()

    # لو الأعمدة MultiIndex (زي اللي صار معاك) نفكها
    if isinstance(df.columns, pd.MultiIndex):
        df.columns = df.columns.get_level_values(0)

    df["Symbol"] = symbol

    path = f"data/raw/{symbol}.csv"
    df.to_csv(path, index=False)
    print("Saved:", path, "rows:", len(df))

print("Done")

Downloading 2010.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/2010.SR.csv rows: 1737
Downloading 1120.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/1120.SR.csv rows: 1737
Downloading 1180.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/1180.SR.csv rows: 1737
Downloading 7010.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/7010.SR.csv rows: 1738
Downloading 1211.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/1211.SR.csv rows: 1737
Downloading 5110.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/5110.SR.csv rows: 1737
Downloading 2050.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/2050.SR.csv rows: 1738
Downloading 4003.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/4003.SR.csv rows: 1737
Downloading 1810.SR ...

[*********************100%***********************]  1 of 1 completed

Saved: data/raw/1810.SR.csv rows: 1737
Done